@import "vars";
@import "fonts";
@import "icons";

// Blocks
@import "blocks/header";


::selection {
 background-color: $accent;
 color: $gray;
}

* {
 box-sizing: border-box;
}

body {

}

input, textarea, input[type="submit"]{
  appearance: none;
}


